In [122]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
%matplotlib inline
pd.set_option("max_columns" , 20)

In [123]:
from twython import Twython

CONSUMER_KEY = "0pJRCT1emkOcrtxHl7lMN4N5A"
CONSUMER_SECRET = "IS4Gxcx1aQ1c5Hyei5PSePLS37IcVmYBT8Qt1t4IOxmLIxJD42"
# tweeter hesabını çeker

In [124]:
twitter = Twython(CONSUMER_KEY , CONSUMER_SECRET)

In [125]:
results = twitter.search(q = "data science" , count = 500)
type(results)

dict

In [126]:
all_items = results["statuses"]

In [127]:
tweet_df = pd.DataFrame(all_items)
tweet_df.head()

,created_at,id,id_str,text,truncated,entities,metadata,source,in_reply_to_status_id,in_reply_to_status_id_str,...,retweet_count,favorite_count,favorited,retweeted,lang,possibly_sensitive,quoted_status_id,quoted_status_id_str,quoted_status,extended_entities
0,Thu Aug 11 09:57:47 +0000 2022,1557667588309671936,1557667588309671936,RT @DoNASAScience: Love talking about open sci...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""https://mobile.twitter.com"" rel=""nofo...",NaN,None,...,16,0,False,False,en,NaN,NaN,NaN,NaN,NaN
1,Thu Aug 11 09:57:40 +0000 2022,1557667558953730048,1557667558953730048,RT @VirusesImmunity: There are multiple hypoth...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""http://twitter.com/download/android"" ...",NaN,None,...,155,0,False,False,en,NaN,NaN,NaN,NaN,NaN
2,Thu Aug 11 09:57:39 +0000 2022,1557667552456839169,1557667552456839169,Breaking #Blockchain News \n\nBenefits of Bloc...,True,"{'hashtags': [{'text': 'Blockchain', 'indices'...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""https://ifttt.com"" rel=""nofollow"">IFT...",NaN,None,...,0,1,False,False,en,False,NaN,NaN,NaN,NaN
3,Thu Aug 11 09:57:23 +0000 2022,1557667488149786625,1557667488149786625,RT @ClubSignage: The Complete Collection of Da...,False,"{'hashtags': [{'text': 'serverless', 'indices'...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""https://mobile.twitter.com"" rel=""nofo...",NaN,None,...,2,0,False,False,en,False,NaN,NaN,NaN,NaN
4,Thu Aug 11 09:57:21 +0000 2022,1557667478574186498,1557667478574186498,RT @ClubSignage: Best Instagram Accounts to Fo...,False,"{'hashtags': [{'text': 'serverless', 'indices'...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""https://mobile.twitter.com"" rel=""nofo...",NaN,None,...,4,0,False,False,en,False,NaN,NaN,NaN,NaN

In [128]:
tweet_user = pd.DataFrame([d["user"] for d in results["statuses"]])
tweet_user.head()

,id,id_str,name,screen_name,location,description,url,entities,protected,followers_count,...,profile_text_color,profile_use_background_image,has_extended_profile,default_profile,default_profile_image,following,follow_request_sent,notifications,translator_type,withheld_in_countries
0,1093529497918414850,1093529497918414850,CSEOL,CSEOLab,"Delft, Nederland",Citizen Science Earth Observation Lab. Fast-tr...,https://t.co/OLDZ1HmDMD,{'url': {'urls': [{'url': 'https://t.co/OLDZ1H...,False,886,...,000000,False,False,False,False,None,None,None,none,[]
1,3008616419,3008616419,Me pre C19,gottattleva,,,None,{'description': {'urls': []}},False,127,...,333333,True,False,True,False,None,None,None,none,[]
2,738752276836306944,738752276836306944,Philip D Hughes - Breaking Metaverse News,PDH_Metaverse,UK,Futurist curating the latest #Metaverse news i...,https://t.co/XX0klQXMnI,{'url': {'urls': [{'url': 'https://t.co/XX0klQ...,False,11245,...,333333,True,False,True,False,None,None,None,none,[]
3,186019376,186019376,Club Signage,ClubSignage,Worldwide,"Digital News: business, mobile, Iot, culture, ...",http://t.co/DXAdA03DdV,{'url': {'urls': [{'url': 'http://t.co/DXAdA03...,False,3839,...,333333,True,False,False,False,None,None,None,none,[]
4,186019376,186019376,Club Signage,ClubSignage,Worldwide,"Digital News: business, mobile, Iot, culture, ...",http://t.co/DXAdA03DdV,{'url': {'urls': [{'url': 'http://t.co/DXAdA03...,False,3839,...,333333,True,False,False,False,None,None,None,none,[]

In [129]:
twitter_df = tweet_df.merge(tweet_user , left_index = True , right_index = True)

In [130]:
user_screenname = []
user_location = []
user_name = []
user_tz = []
tweet_text = []
tweet_tm = []
#ana dfden istediğimiz sütunları çekeceğiz

In [131]:
for status in twitter.search(q = "data science" , result_type = "popular" , lang = "en" , count = 100)["statuses"]:
    
    user = status["user"]["screen_name"]
    text = status["text"]
    tm = status["created_at"]
    loc = status["user"]["location"]
    nm = status["user"]["name"]
    tz = status["user"]["time_zone"]
    
    print()
    print(user , "--" , loc , "--" ,nm , "--" , tm , ":" , text)
    print()
    
    user_screenname.append(user)
    user_location.append(user_location)
    user_name.append(nm)
    user_tz.append(tz)
    tweet_text.append(text)
    tweet_tm.append(tm)

NBSaphierMD -- NYC area -- Nicole Saphier, MD -- Wed Aug 10 13:23:50 +0000 2022 : It’s quite a day when the Danish Health Authority (comprised of leading health experts) gets flagged for “Covid mis… https://t.co/rgOtv0cx8E


AntonyRobart -- Toronto -- Antony Robart -- Wed Aug 10 16:22:43 +0000 2022 : An important conversation on politics over science when it came to the #vaccinemandate for travel in #Canada being… https://t.co/XuE4gk57LN


VirusesImmunity -- New Haven, CT -- Prof. Akiko Iwasaki -- Wed Aug 10 15:41:46 +0000 2022 : There are multiple hypotheses behind long COVID pathogenesis including persistent virus/viral remnants, autoimmunit… https://t.co/bGUQ0Zzt82


_BTO -- Thetford, Norfolk, UK -- BTO -- Tue Aug 09 19:47:01 +0000 2022 : #BTOScience: Agri-environment schemes increased bird and butterfly populations without damaging food production in… https://t.co/3YVj3qSuZA


DoNASAScience -- Washington DC -- NASA Citizen Science -- Wed Aug 10 18:44:17 +0000 2022 : Love talking about open science and data? Grab a coffee or lunch and join us for a virtual discussion on a new… https://t.co/C4z6iBBlqv


BatesCollege -- Lewiston, Maine -- Bates College -- Wed Aug 10 16:25:35 +0000 2022 : In a recent article for The Journal of Humanistic Mathematics, @BatesDCS Profs. Diaz-Eaton (@MathProfCarrie), Shrou… https://t.co/TMNWy3nxJY


AndrewWarrenFL -- Tampa, FL -- Andrew Warren -- Fri Aug 05 16:39:01 +0000 2022 : “The suspension is an attack on the law, as well as science, which Warren consistently follows. And we have the dat… https://t.co/Qr0lSzkmhD


UCSanDiego -- La Jolla, CA -- UC San Diego -- Wed Aug 10 15:00:25 +0000 2022 : Smartfin, a research project from @Scripps_Ocean and @UCSDJacobs, consists of a fin that can be mounted on a surfbo… https://t.co/rOjcvgPnQJ


AdamMGrant -- Philadelphia, USA -- Adam Grant -- Sun Aug 07 15:16:15 +0000 2022 : The main reason people reject science isn't political ideology. It's a lack of critical thinking.

Data: across the… https://t.co/O8pDl76cQb


jakeshieldsajj --  -- Jake Shields -- Tue Aug 02 22:37:37 +0000 2022 : Emails obtained by the freedom of information act shows the FDA had no data on boosters when they were approved

T… https://t.co/wuOjOe8YWT


CSRpeerreview -- Bethesda, Maryland, USA -- Center for Scientific Review -- Wed Aug 10 19:00:35 +0000 2022 : Reducing bias allows review panels to better identify high-impact science.

CSR is committed to addressing bias in… https://t.co/4u5LJn3AS6


davidsirota -- Denver, CO -- David Sirota -- Sat Aug 06 13:18:53 +0000 2022 : This is the science. You can look away. You can tell yourself everything is fine. But this is the science. It doesn… https://t.co/0IA1yyL0Mj


p_barbera -- California, USA -- Pablo Barberá -- Mon Aug 01 17:09:09 +0000 2022 : Out today in @Nature: a new study of how social capital, measured using Facebook friend networks, predicts economic… https://t.co/syqsQ0dFXc


TPostMillennial -- Canada -- The Post Millennial -- Wed Aug 03 01:39:15 +0000 2022 : The Federalist's Chris Bedford talks about possibly fraudulent data regarding Alzheimer's:

"If that can take hold… https://t.co/lgaiy2kAUL


MoICT_Ug -- Uganda, East Africa -- Ministry of ICT&NG -- Fri Aug 05 06:49:29 +0000 2022 : The Launch of Data Science Africa- Ugandan Chapter is happening now beyond recall, what an exciting day!

“I am ple… https://t.co/StRBkN5Vlu

In [132]:
test = twitter_df[["created_at_x" , "text"]]
test.head()
test.columns

Index(['created_at_x', 'text'], dtype='object')

In [133]:
test

,created_at_x,text
0,Thu Aug 11 09:57:47 +0000 2022,RT @DoNASAScience: Love talking about open sci...
1,Thu Aug 11 09:57:40 +0000 2022,RT @VirusesImmunity: There are multiple hypoth...
2,Thu Aug 11 09:57:39 +0000 2022,Breaking #Blockchain News \n\nBenefits of Bloc...
3,Thu Aug 11 09:57:23 +0000 2022,RT @ClubSignage: The Complete Collection of Da...
4,Thu Aug 11 09:57:21 +0000 2022,RT @ClubSignage: Best Instagram Accounts to Fo...
...,...,...
95,Thu Aug 11 09:38:11 +0000 2022,RT @nevrekaraishwa2: EDA tutorials for beginne...
96,Thu Aug 11 09:38:04 +0000 2022,"@smucler Promiňte, ale Vy tady dáváte do souvi..."
97,Thu Aug 11 09:37:59 +0000 2022,@obibo46 @dbossemmyy @KingsleyPremus @extwooba...
98,Thu Aug 11 09:37:30 +0000 2022,That's it for today.\n\nI hope you've found th...
99,Thu Aug 11 09:37:19 +0000 2022,I'll admit that I hate posting the same models...

In [134]:
test.drop("created_at_x" , axis = 1 , inplace = True)
test.rename(columns = {"text":"SentimentText"} , inplace = True)
test.index.names = ["ItemID"]
test

                                            SentimentText
ItemID
0       RT @DoNASAScience: Love talking about open sci...
1       RT @VirusesImmunity: There are multiple hypoth...
2       Breaking #Blockchain News \n\nBenefits of Bloc...
3       RT @ClubSignage: The Complete Collection of Da...
4       RT @ClubSignage: Best Instagram Accounts to Fo...
...                                                   ...
95      RT @nevrekaraishwa2: EDA tutorials for beginne...
96      @smucler Promiňte, ale Vy tady dáváte do souvi...
97      @obibo46 @dbossemmyy @KingsleyPremus @extwooba...
98      That's it for today.\n\nI hope you've found th...
99      I'll admit that I hate posting the same models...

[100 rows x 1 columns]

In [135]:
from textblob import TextBlob
def detect_sentiment(text):
    return TextBlob(text).sentiment.polarity

In [136]:
test["sentiment"] = test.SentimentText.apply(detect_sentiment)

In [137]:
test.sentiment.value_counts()

 0.000000e+00    45
 8.000000e-01     9
 5.000000e-01     7
-6.000000e-01     5
 2.500000e-01     4
 4.000000e-01     4
 2.000000e-01     4
-3.000000e-01     2
 1.110223e-17     2
 3.250000e-01     1
 1.875000e-01     1
-1.666667e-01     1
-5.000000e-01     1
-2.000000e-01     1
 3.333333e-01     1
 5.200000e-01     1
 2.121212e-01     1
 2.857143e-01     1
 4.500000e-01     1
 1.666667e-01     1
-1.500000e-01     1
-2.500000e-01     1
 1.166667e-01     1
 6.166667e-01     1
 1.000000e+00     1
 1.000000e-01     1
-4.000000e-01     1
Name: sentiment, dtype: int64

# Data Cleaning;

In [138]:
df = test

df["SentimentText"].duplicated().sum()

27

In [139]:
df.drop_duplicates(subset = "SentimentText" , inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73 entries, 0 to 99
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SentimentText  73 non-null     object
 1   sentiment      73 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.7+ KB

In [140]:
df["removal_char"] = df["SentimentText"].str.replace("[^a-zA-Z0-9\s]" , '')
df.head()

,SentimentText,sentiment,removal_char
ItemID,,,
0,RT @DoNASAScience: Love talking about open sci...,0.212121,RT DoNASAScience Love talking about open scien...
1,RT @VirusesImmunity: There are multiple hypoth...,-0.150000,RT VirusesImmunity There are multiple hypothes...
2,Breaking #Blockchain News \n\nBenefits of Bloc...,0.000000,Breaking Blockchain News \n\nBenefits of Block...
3,RT @ClubSignage: The Complete Collection of Da...,0.100000,RT ClubSignage The Complete Collection of Data...
4,RT @ClubSignage: Best Instagram Accounts to Fo...,1.000000,RT ClubSignage Best Instagram Accounts to Foll...

In [141]:
import nltk 
from nltk import word_tokenize
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\oztur\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [142]:
#Lowercasing and tokenizing words
df["removal_char"] = df["removal_char"].apply(lambda x : word_tokenize(x.lower()))
df.head()

,SentimentText,sentiment,removal_char
ItemID,,,
0,RT @DoNASAScience: Love talking about open sci...,0.212121,"[rt, donasascience, love, talking, about, open..."
1,RT @VirusesImmunity: There are multiple hypoth...,-0.150000,"[rt, virusesimmunity, there, are, multiple, hy..."
2,Breaking #Blockchain News \n\nBenefits of Bloc...,0.000000,"[breaking, blockchain, news, benefits, of, blo..."
3,RT @ClubSignage: The Complete Collection of Da...,0.100000,"[rt, clubsignage, the, complete, collection, o..."
4,RT @ClubSignage: Best Instagram Accounts to Fo...,1.000000,"[rt, clubsignage, best, instagram, accounts, t..."

In [143]:
from textblob import TextBlob ,Word 
from nltk.corpus import stopwords

In [144]:
stop_words = list(stopwords.words("english"))
df["stopword_removal"] = df["removal_char"].apply(lambda x : [word for word in x if word not in stop_words])
df.head()

,SentimentText,sentiment,removal_char,stopword_removal
ItemID,,,,
0,RT @DoNASAScience: Love talking about open sci...,0.212121,"[rt, donasascience, love, talking, about, open...","[rt, donasascience, love, talking, open, scien..."
1,RT @VirusesImmunity: There are multiple hypoth...,-0.150000,"[rt, virusesimmunity, there, are, multiple, hy...","[rt, virusesimmunity, multiple, hypotheses, be..."
2,Breaking #Blockchain News \n\nBenefits of Bloc...,0.000000,"[breaking, blockchain, news, benefits, of, blo...","[breaking, blockchain, news, benefits, blockch..."
3,RT @ClubSignage: The Complete Collection of Da...,0.100000,"[rt, clubsignage, the, complete, collection, o...","[rt, clubsignage, complete, collection, data, ..."
4,RT @ClubSignage: Best Instagram Accounts to Fo...,1.000000,"[rt, clubsignage, best, instagram, accounts, t...","[rt, clubsignage, best, instagram, accounts, f..."

In [145]:
df["stopword_removal"] = df["stopword_removal"].apply(lambda x: " ".join(x))
df

,SentimentText,sentiment,removal_char,stopword_removal
ItemID,,,,
0,RT @DoNASAScience: Love talking about open sci...,0.212121,"[rt, donasascience, love, talking, about, open...",rt donasascience love talking open science dat...
1,RT @VirusesImmunity: There are multiple hypoth...,-0.150000,"[rt, virusesimmunity, there, are, multiple, hy...",rt virusesimmunity multiple hypotheses behind ...
2,Breaking #Blockchain News \n\nBenefits of Bloc...,0.000000,"[breaking, blockchain, news, benefits, of, blo...",breaking blockchain news benefits blockchain t...
3,RT @ClubSignage: The Complete Collection of Da...,0.100000,"[rt, clubsignage, the, complete, collection, o...",rt clubsignage complete collection data scienc...
4,RT @ClubSignage: Best Instagram Accounts to Fo...,1.000000,"[rt, clubsignage, best, instagram, accounts, t...",rt clubsignage best instagram accounts follow ...
...,...,...,...,...
95,RT @nevrekaraishwa2: EDA tutorials for beginne...,0.520000,"[rt, nevrekaraishwa2, eda, tutorials, for, beg...",rt nevrekaraishwa2 eda tutorials beginners lea...
96,"@smucler Promiňte, ale Vy tady dáváte do souvi...",0.000000,"[smucler, promite, ale, vy, tady, dvte, do, so...",smucler promite ale vy tady dvte souvislosti l...
97,@obibo46 @dbossemmyy @KingsleyPremus @extwooba...,0.000000,"[obibo46, dbossemmyy, kingsleypremus, extwooba...",obibo46 dbossemmyy kingsleypremus extwoobaba d...
98,That's it for today.\n\nI hope you've found th...,0.250000,"[thats, it, for, today, i, hope, youve, found,...",thats today hope youve found thread helpful li...
99,I'll admit that I hate posting the same models...,-0.400000,"[ill, admit, that, i, hate, posting, the, same...",ill admit hate posting models 2 days row sched...

In [146]:
import nltk
from nltk.stem import WordNetLemmatizer

df["stopword_removal"] = df["stopword_removal"].apply(lambda x : WordNetLemmatizer().lemmatize(x))

In [147]:
df["sentiment_polarity"] = df["stopword_removal"].apply(lambda x : TextBlob(x).sentiment.polarity)

In [148]:
#calculating subjectivity
df["sentiment_subjectivity"] = df["stopword_removal"].apply(lambda x:TextBlob(x).sentiment.subjectivity)

In [149]:
import sklearn 
from sklearn.feature_extraction.text import CountVectorizer , TfidfVectorizer

In [150]:
vect = CountVectorizer()
X = vect.fit_transform(df["stopword_removal"])
X.shape

(73, 608)

In [151]:
df.columns

Index(['SentimentText', 'sentiment', 'removal_char', 'stopword_removal',
       'sentiment_polarity', 'sentiment_subjectivity'],
      dtype='object')

In [152]:
def tweet_sentence(score):
    if score>0.2:
        return 3
    elif score<-0.2:
        return 1
    else :
        return 2
df["class"] = df["sentiment"].apply(lambda x: tweet_sentence(x))

#2:13:00 10.ders

# Training Model

In [153]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
from sklearn.metrics import accuracy_score , precision_score , recall_score , f1_score

from sklearn.model_selection import train_test_split

nb = MultinomialNB()
log = LogisticRegression()
dtc = DecisionTreeClassifier()

In [154]:
x = df["stopword_removal"]
y = df["class"]

In [155]:
x_train , x_test , y_train , y_test = train_test_split(x,y,random_state = 42 )

In [156]:
x_train_dtm = vect.fit_transform(x_train)
x_test_dtm = vect.transform(x_test)

In [157]:
x_train_dtm.shape , x_test_dtm.shape

((54, 484), (19, 484))

In [158]:
y.shape

(73,)

In [159]:
algorithms = [nb, log, dtc]
names = ['MultinomialNB', 'LogisticRegression','DecisionTreeClassifier']
def classification():
  accuracy = []
  precision = [] 
  recall = []
  f1 = []

  for i in range(len(algorithms)):
    algorithms[i].fit(x_train_dtm, y_train)

  for i in range(len(algorithms)):
    accuracy.append(accuracy_score(y_test, algorithms[i].predict(x_test_dtm)))
    precision.append(precision_score(y_test, algorithms[i].predict(x_test_dtm) , average="weighted"))
    recall.append(recall_score(y_test, algorithms[i].predict(x_test_dtm), average="weighted"))
    f1.append(f1_score(y_test, algorithms[i].predict(x_test_dtm), average="weighted"))
  
  met = pd.DataFrame(columns = ['Accuracy', 'Precision','Recall', 'F1'], index = names)
  met['Accuracy'] = accuracy
  met['Precision'] = precision
  met['Recall'] = recall
  met['F1'] = f1

  return met

In [160]:
classification()

                        Accuracy  Precision    Recall        F1
MultinomialNB           0.578947   0.556391  0.578947  0.550813
LogisticRegression      0.684211   0.662281  0.684211  0.646301
DecisionTreeClassifier  0.736842   0.792982  0.736842  0.710931

1000 tane veride en iyi tahmin eden algoritmamız LogisticRegression'dır

# Pycaret ile Model

In [161]:
df_pycaret = df[["stopword_removal" , "class"]]

df_pycaret

                                         stopword_removal  class
ItemID
0       rt donasascience love talking open science dat...      3
1       rt virusesimmunity multiple hypotheses behind ...      2
2       breaking blockchain news benefits blockchain t...      2
3       rt clubsignage complete collection data scienc...      2
4       rt clubsignage best instagram accounts follow ...      3
...                                                   ...    ...
95      rt nevrekaraishwa2 eda tutorials beginners lea...      3
96      smucler promite ale vy tady dvte souvislosti l...      2
97      obibo46 dbossemmyy kingsleypremus extwoobaba d...      2
98      thats today hope youve found thread helpful li...      3
99      ill admit hate posting models 2 days row sched...      1

[73 rows x 2 columns]

In [162]:

df_pycaret["class"]=df_pycaret["class"].astype("category")
df_pycaret.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73 entries, 0 to 99
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   stopword_removal  73 non-null     object
 1   class             73 non-null     category
dtypes: category(1), object(1)
memory usage: 1.3+ KB

In [163]:
import numpy
from pycaret.classification import *

exp_name = setup(data = df_pycaret , target = "class")
best_model = compare_models()

Veri sayısı az olduğu için sonuçların birbiryle benzer ve az çıkması normaldir.


__100 veriden fazla veri çekmeme izin vermiyor maalsef__